
/********* Allgemein *********/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #343434;
    font-weight: 300;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 120%;
}

h1, h2, h3, h4 {
    color: #313131;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 110%;
    text-transform: uppercase;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 200%;
    font-weight: 700;
}

h3 {
    font-size: 120%;
    font-weight: 500;
    text-transform: unset;
}

h4 {
    font-size: 90%;
    font-weight: 400;
    text-transform: unset;
}

p {
    font-weight: 300;
    text-transform: unset;
    line-height: 110%;
}

img {
    width: 100%;
}

ul {
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 30px;
}

.bgGreen {
    background-color: #d8f3dc;
}

.left {
    text-align: left;
}

@media screen and (max-width: 676px) {
    html {
        font-size: 14px;
    }
}

/********* Header *********/

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #b6dcc4;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

/* Navbar */
nav {
    display: flex;
    justify-content: right;
    gap: 10px;
}

nav > a {
    color: #1c1d1e;
    text-decoration: none;
    display: block;
    padding: 15px 12px;
}

nav > a:hover, nav > a:focus {
    text-decoration: none;
    background-color: #d8f3dc;
}

@media screen and (max-width: 676px) {
    header .container {
        padding: 0 10px;
    }
    nav {
        gap: 0;
    }
}

/********* Footer *********/

footer {
    position: sticky;
    bottom: 20px;
    right: 0;
    text-align: right;
    margin-top: -42px;
}

footer a {
    position: relative;
    z-index: 1100;
    background-color: #283618;
    color: #d8f3dc;
    border: 8px solid #283618;
    border-radius: 50%;
    margin-right: 20px;
    padding: 6px 3px 0;
    font-size: 21px;
}

/********* Main *********/

section {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 56px;
    padding-bottom: 112px;
    overflow: hidden;
}

.becomeColumn {
    flex-direction: column;
}

@media screen and (max-width: 950px) {
    section {
        padding-top: 60px;
    }
    section:first-of-type {
        padding-top: 30px;
    }
}

/********* Start *********/
section#first .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

section#first h1 {
    font-size: 200%;
    font-weight: 700;
}

section#first .getBigger {
    font-size: 350%;
}

.isNotFlex {
    position: relative;
}

.isNotFlex .box {
    /*position: absolute;
    top: 0;*/
    display: flex;
    gap: 0 20px;
    align-items: center;
}

#whoAmI {
    align-items: flex-start;
    grid-area: 1 / 1 / 2 / 3;
}

#whoAmI img {
    max-height: 400px;
    width: auto;
    border-radius: 15%;
}

#whoAmI h1 {
    margin-top: 80px;
}

#myPet {
    grid-area: 2 / 2 / 3 / 4;
}

#myPet img {
    max-height: 400px;
    width: auto;
    border-radius: 15%;
}

#myHobbies {
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-area: 1 / 3 / 6 / 6;
    text-align: right;
    align-content: flex-start;
}

#myHobbies h2 {
    text-align: right;
}

#myHobbies ul{
    padding-left: 0;
    text-align: right;
}

#circleMoment {
    top: 25%;
    left: 40%;
    z-index: 100;
    display: none;
}

section#first ul {
    list-style: none;
    padding-right: 40px;
}

section#first li > ul {
    font-size: 80%;
    margin-bottom: 5px;
    padding-right: 0;
}

@media screen and (max-width: 1200px){
    section#first .container {
        grid-template-rows: repeat(3, 1fr);
    }

    #myPet {
        grid-area: 3 / 2 / 4 / 4;
    }

    #whoAmI {
        grid-area: 2 / 1 / 3 / 3;
    }

}
@media screen and (max-width: 950px) {
    section#first .container {
        display: block;
    }

    .isNotFlex .box {
        position: static;
        flex-wrap: wrap-reverse;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }
    #myHobbies {
        width: 100%;
        justify-content: flex-start;
        margin: 0 !important;
        position: static;
    }

    #myHobbies h2 {
        text-align: left;
    }

    #whoAmI {
        align-items: center;
    }

    #whoAmI h1 {
        margin-top: 0;
    }

    #whoAmI img {
        width: 50%;
        height: auto;
        max-height: unset;
    }

    #myPet {
        flex-direction: row-reverse;
        text-align: right;
    }

    section#first .getBigger {
        font-size: 200%;
    }

    #myHobbies ul{
        padding-left: 0;
        text-align: left;
    }

    section#first ul {
        padding-left: 40px;
        padding-right: 0;
    }

    section#first li > ul {
        padding-left: 0;
    }
}

@media screen and (max-width: 676px) {
    #whoAmI {
        position: relative;
        top: 0;
        left: 0;
        padding-top: 90px;
    }

    #whoAmI div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    #whoAmI img {
        width: 100%;
        height: auto;
    }
    #whoAmI p {
        color: #FFF;
        font-size: 120%;
    }

}

/********* Motivation *********/

section#motivation .box {
    position: absolute;
    top: 0;
}

section#motivation #creativ {
    top: 37%;
    left: 5%;
    width: 42%;
}

section#motivation #creativ img, section#motivation #maths img {
    max-width: 400px;
}

section#motivation #maths {
    top: 65%;
    left: 10%;
    width: 45%
}

section#motivation #maths:before {
    content: "+";
    font-size: 500%;
    display: block;
    align-self: flex-start;
    color: #8b668e;
}

section#motivation #eqauls {
    right: 5%;
    top: 25%;
    width: 35%;
    text-align: right;
}

@media screen and (max-width: 950px) {
    section#motivation #creativ, section#motivation #maths, section#motivation #eqauls {
        width: 100%;
        position: static;
    }

    section#motivation #maths::before {
        display: none;
    }
}

/********* CV *********/

.education, .jobs {
    display: flex;
}
.eduPoint, .job {
    flex-basis: 20%;
}

.eduPoint .eduTitle {
    border-bottom: 5px solid #8b668e;
    border-left: 5px solid #8b668e;
    padding: 10px;
    height: 100px;
    vertical-align: center;
}

.eduPoint p {
    padding-right: 15px;
    font-size: 90%;
}

.eduPoint:first-of-type .eduTitle {
    border-left: 0;
}

.eduPoint:nth-of-type(2),
.job:nth-of-type(2) {
    margin-top: 95px;
}
.eduPoint:nth-of-type(3),
.job:nth-of-type(3){
    margin-top: calc(95px * 2);
}
.eduPoint:nth-of-type(4),
.job:nth-of-type(4){
    margin-top: calc(95px * 3);
}
.eduPoint:nth-of-type(5),
.job:nth-of-type(5){
    margin-top: calc(95px * 4);
}

.jobs {
    flex-direction: row-reverse;
    text-align: right;
}

.job p {
    padding-left: 15px;
    font-size: 90%;
}

.job ul {
    text-align: left;
    margin-left: 20px;
    font-size: 80%;
}

.job .jobTitle {
    border-bottom: 5px solid #8b668e;
    border-right: 5px solid #8b668e;
    padding: 10px;
    text-align: right;
    height: 100px;
    vertical-align: center;
}
.job:first-of-type .jobTitle {
    border-right: 0;
}

@media screen and (max-width: 950px){
    .education, .jobs {
        display: block;
    }

    .eduPoint,
    .job{
        margin-top: 20px !important;
        margin-bottom: 50px;
    }

    .eduPoint .eduTitle,
    .job .jobTitle {
        border: 0 !important;
        padding: 0;
        text-align: left;
        height: auto;
    }

    .jobs {
        text-align: left;
    }

    .job p, .eduPoint p {
        padding: 0 !important;
    }
}

@media screen and (max-width: 950px){
    .education, .jobs {
        margin-left: 15px;
        padding-left: 30px;
        border-left: 3px solid #8b668e;
        padding-top: 30px;
    }

    .eduPoint,
    .job {
        position: relative;
    }

    .eduPoint:before,
    .job:before {
        content: " ";
        width: 20px;
        height: 20px;
        background-color: #b6dcc4;
        border-radius:4px;
        display: block;
        position: absolute;
        top: 0;
        left: -41px;
    }
}

/********* Projects *********/

#projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 80px 20px;
}

#projects h2 {
    flex-basis: 100%;
}

#projects a {
    display: block;
    width: 80%;
    margin: 0 auto -10px;
    border: 4px solid #8b668e;
    border-radius: 15px;
    background-color: #ebe8f8;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    color: #333;
}

#projects a:hover,
#projects a:focus,
#projects a:link{
    color: #ebe8f8;
    background-color: #8b668e;
}

#projects a:hover h3,
#projects a:focus h3,
#projects a:link h3{
    color: #ebe8f8;
}

.projectBox {
    flex-basis: 48%;
    max-height: 700px;
}

.projectBox h3 {
    font-size: 150%;
    text-transform: uppercase;
    font-weight: 600;
}

.projectBox p, .projectBox h3 {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 950px){
    .projectBox {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    #projects {
        gap: 0;
    }
}

@media screen and (max-width: 676px) {
    #projects a {
        width: 100%;
    }
}

/********* Contact *********/

.contactBox {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;

}

.getShadow {
    text-shadow: 0 0 12px #FFFFFF, 0 0 17px #FFFFFF, 0 0 9px #FFFFFF;
}

section#contact {
    background-image: url("oksana-berko-Daonsb-GSUM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

input[type="text"],
input[type="email"] {
    width: 250px;
    line-height: 25px;
    font-size: 15px;
}

textarea {
    width: 100%;
    height: 100px;
}

input[type="submit"]{
    border: 2px solid #8b668e;
    color: #8b668e;
    background-color: #fff;
    margin-top: 30px;
    font-size: 100%;
    padding: 7px 14px;
}

input[type="submit"]:hover, input[type="submit"]:focus{
    color: #fff;
    background-color: #8b668e;
}
